


<div>
    <div ng-app="internApp" ng-controller="searchCtrl" style="height: 100vh;">
        <div class="row" style="margin:15px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3">
                        <div class="dropdown">
                            <!-- <label for="cities"></label>City</label> -->
                            <select name="cities" ng-model="city" ng-change="getJobs(1)"  id="cities" class="form-control">  
                                <option value ="">Select city</option>
                                <option ng-repeat="i in cities" value="{{i}}">  
                                     {{i}}  
                                </option>  
                           </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <select name="provinces" ng-model="province"  ng-change="getJobs(1)"  id="provinces" class="form-control">  
                                <option value ="">Select province</option>
                                <option ng-repeat="i in provinces" value="{{i}}">  
                                     {{i}}  
                                </option>  
                           </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <select name="types" ng-model="type"  ng-change="getJobs(1)" id="types" class="form-control">  
                                <option value ="">Select type</option>
                                <option ng-repeat="i in types" value="{{i}}">  
                                     {{i}}  
                                </option>  
                           </select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="dropdown">
                            <select name="categories" ng-model="category" ng-change="getJobs(1)"  id="categories" class="form-control">  
                                <option value ="">Select category</option>
                                <option ng-repeat="i in categories" value="{{i}}">  
                                     {{i}}  
                                </option>  
                           </select>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model ="searchValue" ng-blur="getJobs(1)" placeholder="Search">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button" ng-click="getJobs(1)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-9">

            </div>
            <div class="col-md-3">
                <ul style="width: 100%;" uib-pagination="" total-items="totalItems" ng-model="currentPage"
                    max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true"
                    force-ellipses="true" ng-change="pageChanged()"></ul>

            </div>
        </div>
        <div class="row" style="margin:15px;">
            <table class="table table-hover ">
                <thead style=" background:#ffc107">
                    <tr>
                        <th scope="col">Agency</th>
                        <th scope="col">Type</th>
                        <th scope="col">City</th>
                        <th scope="col">Province</th>
                        <th scope="col">Categories</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat ="j in jobs" ng-click="agency(j)">
                        <th scope="row">{{j.name}}</th>
                        <td>{{j.type}}</td>
                        <td>{{j.locations[0].City}}</td>
                        <td>{{j.locations[0].Province}}</td>
                        <td>
                            <span ng-repeat ="c in j.categories">{{c.category}};</span>
                        </td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-9">

            </div>
            <div class="col-md-3">
                <ul style="width: 100%;" uib-pagination="" total-items="totalItems" ng-model="currentPage"
                    max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true"
                    force-ellipses="true" ng-change="pageChanged()"></ul>

            </div>
        </div>
    </div>
</div>