<div>
    <div ng-app="internApp" ng-controller="studMgmtCtrl" style="height: 100vh;">
        <div class="row" style="margin:15px;">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-3" ng-class="{highLight:!searchType}">
                        Search with ID
                    </div>
                    <div class="col-md-2">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" ng-model="searchType"
                                id="customSwitch1">
                            <label class="custom-control-label" for="customSwitch1"></label>
                        </div>
                    </div>
                    <div class="col-md-3" ng-class="{highLight:searchType}">
                        Search with Name
                    </div>

                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" ng-blur="getStudents(1)" ng-model="searchValue">
                        <div class="input-group-append">
                            <button class="btn btn-warning" type="button" ng-click ="getStudents(1)">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="row">

                </div>
            </div>
            <div class="col-md-2">

            </div>
        </div>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md-4">
                <ul style="width: 100%;" uib-pagination="" total-items="totalItems" ng-model="currentPage"
                    max-size="maxSize" items-per-page="itemsPerPage" class="pagination-sm" boundary-links="true"
                    force-ellipses="true" ng-change="pageChanged()"></ul>

            </div>
            <!-- <div class = "col-md-1">

            </div> -->
        </div>
        <div class="row" style="margin:15px;">
            <table class="table table-hover ">
                <thead style=" background:#ffc107">

                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Banner Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Program</th>
                        <th scope="col">Year</th>
                        <th scope="col">Interests</th>
                        <th scope="col">CGPA</th>
                        <th scope="col">Criminal Check</th>
                        <th scope="col">Child Abuse</th>
                        <th scope="col">CPR</th>
                        <th scope="col">Immunizations</th>
                        <th scope="col">Offer Received</th>
                        <th scope="col">Acceptance Form</th>
                        <th scope="col">Activated</th>
                        <th scope="col">Edit Details</th>
                    </tr>
                </thead>
                <tbody>

                    <tr ng-repeat="student in students">
                        <th scope="row">{{student.name}}</th>
                        <td>{{student.bannerId}}</td>
                        <td>{{student.email}}</td>
                        <td>{{student.program}}</td>
                        <td>{{student.year}}</td>
                        <td>
                            <a ng-repeat="i in student.interests">{{i}};</a>
                        </td>
                        <td>{{student.cgpa}}</td>
                        <td> <i ng-if="student.criminalCheck == 'true'" class="fa fa-check"></i>
                            <i ng-if="student.criminalCheck == 'false'" class="fa fa-times"></i>
                            <p ng-if="student.criminalCheck == 'na'"> NA</p>
                        </td>
                        <td><i ng-if="student.childAbuse == 'true'" class="fa fa-check"></i>
                            <i ng-if="student.childAbuse == 'false'" class="fa fa-times"></i>
                            <p ng-if="student.childAbuse == 'na'"> NA</p>
                        </td>
                        <td><i ng-if="student.CPR == 'true'" class="fa fa-check"></i>
                            <i ng-if="student.CPR == 'false'" class="fa fa-times"></i>
                            <p ng-if="student.CPR == 'na'"> NA</p>
                        </td>
                        <td><i ng-if="student.immunizations == 'true'" class="fa fa-check"></i>
                            <i ng-if="student.immunizations == 'false'" class="fa fa-times"></i>
                            <p ng-if="student.immunizations == 'na'"> NA</p>
                        </td>
                        <td><i ng-if="student.offerReceived == 'true'" class="fa fa-check"></i>
                            <i ng-if="student.offerReceived == 'false'" class="fa fa-times"></i>
                            <p ng-if="student.offerReceived == 'na'"> NA</p>
                        </td>
                        <td><i ng-if="student.acceptanceForm == 'true'" class="fa fa-check"></i>
                            <i ng-if="student.acceptanceForm == 'false'" class="fa fa-times"></i>
                            <p ng-if="student.acceptanceForm == 'na'"> NA</p>
                        </td>
                        
                        <td>
                            <button  ng-if="!student.activated" type="button" class="btn btn-primary" ng-click="confirm('activate/deactivate',student)">
                                Activate
                            </button>
                            <button ng-if="student.activated" type="button" class="btn btn-primary" ng-click="confirm('activate/deactivate',student)">
                                Deactivate
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary" ng-click="show(student)">
                                Edit
                            </button>
                        </td>

                    </tr>

                </tbody>
            </table>
        </div>
        <div>

        </div>
        <div class="row">
            <div class="col-md-8">

            </div>
            <div class="col-md- 4">
                <ul uib-pagination="" total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"
                    max-size="maxSize" class="pagination-sm" force-ellipses="true" boundary-links="true"
                    ng-change="pageChanged()"></ul>

            </div>


        </div>

        <script type="text/ng-template" id="alert.html">
            <div style= "width:50%" ng-transclude></div>
        </script>
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert()"
            ng-if="show" dismiss-on-timeout="2000">{{alert.msg}}</div>
    </div>
</div>